@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/* Common */

*,
*::before,
*::after {
          box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.img {
  max-width: 100%;
  height: auto;
}

/* Page */

.page {
  height: 100%;
  color: #444444;
  background-color: #ffffff;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: left;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1440px;
  margin: 0 auto;
}

.page-main {
  flex-grow: 1;
}


/* Section */

.section-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
  color:#000000;
}

/* Button */
.button,
.btn {
  display: inline-block;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}


.button {
  position: relative;
  padding: 5px 10px;
  color: #000000;
  border: 2px solid transparent;
  font-size: 18px;
  letter-spacing: 0.2em;
}

.button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  top: 16px;
  left: 0;
  background-color: #ffe17f;
  z-index: -1;
}

.button:hover {
  background-color: #ffe17f;
}

.button:active {
  background-color: #FFCC33;
}

.button:focus:not(:active) {
  border-color:  #af4fff;
}

.button:disabled{
  opacity: 0.3;
}

.button:disabled::after{
  opacity: 0.3;
}

.btn {
  padding: 18px 39px;
  border: 3px solid #e5e5e5;
  font-size: 16px;
  letter-spacing: 0.2em;
}

.btn:hover {
  border-color: #000000;
}

.btn:active {
  border-color: #000000;
  opacity: 0.3;
}

.btn:focus:not(:active) {
  border-color:  #e5e5e5;
}

.btn:disabled {
  border-color:  #e5e5e5;
  opacity: 0.3;
}

/* Forms */

.field {
  display: flex;
}

.field-input {
  width: 100%;
  margin: 0;
  padding: 11px 16px;
  font: inherit;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  background-color: transparent;
}

.field-input::placeholder {
  font: inherit;
  opacity: 0.5;
}

.field-input:hover {
  background-color: #f0f0f0;
}

.field-input:focus {
  background-color: #dcdcdc;
}

.field-input-error {
  border-color: #ff3d3d;
}

.field-input:disabled {
  opacity: 0.3;
}

.modal-delivery-form .field-input {
  padding: 20px;
  font-size: 16px;
  line-height: 125%;
  background-color: #f0f0f0;
  border: 2px solid transparent;
}

.modal-delivery-form .field-input::placeholder,
.navigation-search-input::placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 125%;
  opacity: 0.3;
}

.modal-delivery-form .field-input:hover {
  background-color: #dcdcdc;
}

.modal-delivery-form .field-input:focus,
.navigation-search-input:focus,
.navigation-search-button:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Header */

.page-header {
  background-color: #ffe17f;
  padding: 13px 140px 0 140px;
}

.header-container {
  margin: auto 60px;
}

.header-navigation {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}

.additional-menu,
.site-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo-link {
  display: inline-block;
}

.logo-img {
  display: block;
}

.navigation-search-form {
  display: grid;
  grid-template-columns: 357px 2px 158px;
}

.navigation-search-form::before {
  content: "";
  position: relative;
  /* z-index:1; */

  width: 2px;

  background-color: #000000;
}

.navigation-search-field {
  order: -1;
}

.navigation-search-input {
  width: 100%;
  padding: 10px 16px;
  padding-left: 48px;
  border: 2px solid #000000;
  border-right: none;
  border-radius: 50px 0 0 50px;
  background-color: transparent;
  font: inherit;
  font-size: 16px;
  line-height: 125%;
  background-image: url("../image/icon/search.svg");
  background-repeat: no-repeat;
  background-position: top 12px left 16px;
}


.navigation-search-form:disabled::before {
  opacity: 0.3;
}

.navigation-search-input:disabled,
.navigation-search-button:disabled {
  opacity: 0.3;
}

.navigation-search-button {
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  padding: 10px;
  background-color: transparent;
}

.navigation-search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.navigation-search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

