@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Common */

*,
*::before,
*::after {
          box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.img {
  max-width: 100%;
  height: auto;
}

/* Page */

.page {
  height: 100%;
  color: #444444;
  background-color: #ffffff;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: left;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1440px;
  margin: 0 auto;
}

.page-main {
  flex-grow: 1;
}

/* Section */

.section-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
  color: #000000;
}

.section-desk {
  margin: 0;
}

/* Button */

.button,
.btn,
.pagination-button,
.pagination-button-more,
.pagination-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}


.button {
  position: relative;
  padding: 4px 29px;
  color: #000000;
  border: 2px solid transparent;
  font-size: 18px;
  letter-spacing: 0.1em;
  z-index: 0;
  min-height: 40px;
}

.button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  top: 14px;
  left: 0;
  background-color: #ffe17f;
  z-index: -1;
}

.button:hover {
  background-color: #ffe17f;
}

.button:active {
  background-color: #FFCC33;
}

.button:active::after {
  background-color: transparent;
}

.button:focus:not(:active) {
  border-color: #af4fff;
  outline-color: transparent;
}

.button:disabled{
  opacity: 0.3;
}

.button:disabled::after{
  opacity: 0.3;
}

.btn {
  padding: 14px 39px;
  min-height: 55px;
  border: 3px solid #e5e5e5;
  font-size: 16px;
  letter-spacing: 0.2em;
}

.btn:hover {
  border-color: #000000;
}

.btn:active {
  border-color: #000000;
  opacity: 0.3;
}

.btn:focus:not(:active) {
  border-color:  #e5e5e5;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.btn:disabled {
  border-color:  #e5e5e5;
  opacity: 0.3;
}

/* Forms */

.field-group {
  display: grid;
}

.field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.field-input {
  width: 100%;
  margin: 0;
  padding: 14px 17px;
  font: inherit;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  background-color: transparent;
}

.field-input::placeholder {
  font: inherit;
  opacity: 0.5;
}

.field-input:hover {
  background-color: #ffffff;
}

.field-input:focus {
  background-color: #dcdcdc;
}

.field-input-error {
  border-color: #ff3d3d;
}

.field-input:disabled {
  opacity: 0.3;
}

.modal-delivery-form .field-input {
  padding: 19px;
  font-size: 16px;
  line-height: 125%;
  background-color: #f0f0f0;
  border: 2px solid transparent;
}

.modal-delivery-form .field-input::placeholder,
.navigation-search-input::placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 125%;
  opacity: 0.3;
}

.modal-delivery-form .field-input:hover {
  background-color: #dcdcdc;
}

.modal-delivery-form .field-input:not(.quantity-input):focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-search-button {
  position: relative;
}

.navigation-search-button::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}

.navigation-search-button:focus:not(:active)::before{
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.navigation-search-field:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Header */

.page-header {
  padding: 14px 140px 0 140px;
}


.header-navigation {
  display: grid;
  padding: 3px 60px 23px 60px;
  grid-template-columns: 1fr;
  row-gap: 30px;
  background: linear-gradient(transparent 13%, #ffe17f 13%);
}

.user-items,
.site-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.user-items {
  justify-content: space-between;
}

.site-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.logo-link {
  display: inline-block;
  max-width: 145px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active:not(:focus) {
  opacity: 0.3;
}

.logo-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.logo-img {
  display: block;
}

.navigation-search-form {
  display: grid;
  grid-template-columns: 357px 2px 158px;
}

.navigation-search-form::before {
  content: "";
  position: relative;

  width: 2px;

  background-color: #000000;
}

.navigation-search-field {
  order: -1;
}

.navigation-search-input {
  width: 100%;
  height: 100%;
  padding: 8px 10px 10px 16px;
  padding-left: 45px;
  border: 2px solid #000000;
  border-right: none;
  border-radius: 50px 0 0 50px;
  background-color: transparent;
  font: inherit;
  font-size: 16px;
  line-height: 125%;
  background-image: url("../images/icon/search.svg");
  background-repeat: no-repeat;
  background-position: top 10px left 14px;
}


.navigation-search-form:disabled::before {
  opacity: 0.3;
}

.navigation-search-input:disabled,
.navigation-search-button:disabled {
  opacity: 0.3;
}

.navigation-search-button {
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  padding: 7px;
  background-color: transparent;
  font: inherit;
  font-size: 16px;
  line-height: 125%;
}

.navigation-search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.navigation-search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.personal-account {
  display: flex;
  flex-wrap: wrap;
  min-width: 231px;
  justify-content: space-between;
}

.user-tools {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-tool-item {
  position: relative;
}

.user-tool-item:not(:last-child) {
  margin-right: 18px;
}

.personal-account-link,
.user-tools-btn {
  display: inline-block;
  text-decoration: none;
  font: inherit;
  color: #000000;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.user-tools-btn {
  padding: 0;
}

.personal-account-link:hover,
.user-tools-btn:hover,
.site-menu-link:hover,
.subcatalog-item-link:hover {
  opacity: 0.6;
}

.personal-account-link:active,
.user-tools-btn:active,
.site-menu-link:active,
.subcatalog-item-link:active {
  opacity: 0.3;
}

.personal-account-link:focus:not(:active),
.user-tools-btn:focus:not(:active),
.site-menu-link:focus:not(:active),
.subcatalog-item-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.log-in {
  padding-left: 27px;
  background-image: url("../images/icon/log-in.svg");
  background-repeat: no-repeat;
  background-position: left 0 top 9px;
}

.compare {
  padding-left: 22px;
  background-image: url("../images/icon/compare.svg");
  background-repeat: no-repeat;
  background-position: left 0 top 9px;
}

.cart {
  position: relative;
  padding-left: 43px;
  background-image: url("../images/icon/cart.svg");
  background-repeat: no-repeat;
  background-position: left 15px top 5px;
}

.cart-counter {
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 21px;
  height: 21px;
  padding: 10px 6px;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 100%;
  line-height: 0;
}

.popover {
  display: none;
  position: absolute;
  background-color: #000000;
  z-index: 1;
}

.user-tool-item:focus-within .popover {
  display: block;
}

.popover-cart {
  left: -126px;
  top: 38px;
  width: 320px;
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #ffffff;
}

.popover-cart::after {
    position: absolute;
    content: "";
    top: -6px;
    right: 153px;
    width: 14px;
    height: 6px;
    background-image: url("../images/icon/triangle.svg");
  }

.cart-list {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  row-gap: 1px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
}

.cart-link {
  color: #ffffff;
  text-decoration: none;
}

.cart-link:hover,
.cart-remove-button:hover {
  opacity: 0.6;
}

.cart-link:active:not(:focus),
.cart-remove-button:active:not(:focus) {
  opacity: 0.3;
}

.cart-link:focus,
.cart-remove-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-figure {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.cart-image {
  display: block;
  align-self: center;
  margin-right: 23px;
}


.order-product,
.order-cost {
  margin: 0;
}

.cart-remove-button {
  width: 10px;
  height: 10px;
  padding: 0;
  background-image: url("../images/icon/cart-remove-button-icon.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}


.cart-remove-button:disabled {
  opacity: 0.1;
}

.order-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color:  #1a1a1a;
}

.order-wrapper:not(:last-of-type) {
  margin-bottom: 20px;
}

.cart-open-button {
  margin: 20px;
  padding: 12px 25px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
}

.cart-open-button:hover {
  background-color:  #ffe17f;
}

.cart-open-button:active:not(:focus) {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}

.cart-open-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-open-button:disabled {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.3);
}

.site-menu {
  justify-content: space-between;
}

.site-menu-sub {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-menu-sub .site-menu-item:not(:last-child) {
  margin-right: 45px;
}

.site-menu-item:first-child .site-menu-link{
  max-width: 350px;
}

.site-menu-item:not(:first-child) .site-menu-link {
  max-width: 127px;
}

.catalog-item {
  position: relative;
}

.catalog-item .site-menu-link {
  z-index: 2;
  position: relative;
  padding: 10px 64px 10px 0;
}

.catalog-item .site-menu-link::after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  content: "";
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-image: url("../images/icon/plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.catalog-item:focus-within .site-menu-link::after {
  background-image: url("../images/icon/minus.svg");
  opacity: 0.3;
}

.catalog-item .site-menu-link:focus::after {
  opacity: 0.3;
  background-image: url("../images/icon/minus.svg");
}

.catalog-item .site-menu-link:hover::after,
.catalog-item .site-menu-link:hover,
.catalog-item .site-menu-link:active::after,
.catalog-item .site-menu-link:active {
  opacity: 1;
}

.site-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.site-menu-item.active .site-menu-link {
  -webkit-text-decoration: underline #000000 2px;
          text-decoration: underline #000000 2px;
  text-underline-offset: 4px;
}

.subcatalog-item-link {
  font: inherit;
  font-size: 16px;
  line-height: 125%;
  color: #000000;
  text-decoration: none;
}

.site-menu-link:hover {
  opacity: 0.6;
}

.site-menu-link:active {
  opacity: 0.3;
}

.site-menu-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.subcatalog-item.active .subcatalog-item-link {
  -webkit-text-decoration: underline #000000 1px;
          text-decoration: underline #000000 1px;
  text-underline-offset: 2px;
}

.subcatalog {
  display: none;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 26px;
  list-style-type: none;
}


.site-menu-item:focus-within .subcatalog{
  position: absolute;
  top: 44px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffe17f;
  width: 1160px;
  margin-left: -60px;
  padding-left: 60px;
  padding-bottom: 47px;
  z-index: 1;
}

.subcatalog ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.subcatalog ul:nth-child(even) {
  margin-right: 74px;
}

.subcatalog ul:nth-child(odd) {
  margin-right: 57px;
}

.subcatalog-item {
  margin-bottom: 5px;
}

/* Main */
/* Promo */

.promo {
  z-index: -1;
  padding: 0 140px;
  margin-top: -38px;
  margin-bottom: 70px;
}

.slideshow-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: example 0;
}

.slideshow-item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 560px);
  column-gap: 40px;
  counter-increment: example 1;
  background: linear-gradient(#ffe17f 27%, transparent 27%);
}

.slideshow-item::before {
  position: absolute;
  top: 84px;
  right: 49px;
  content: "0" counter(example);
  font: inherit;
  font-weight: 700;
  font-size: 180px;
  line-height: 17%;
  text-align: right;
  color: #ffffff;
}

.slider-container {
  position: relative;
}

.slideshow-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 211px;
  left: 30px;
  width: 530px;
}

.slider-button {
  width: 20px;
  height: 60px;
  border: none;
  background-image: url("../images/icon/slider-arrow.svg");
  background-color: transparent;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-button:disabled {
  opacity: 0.1;
}

.slider-next {
  transform: rotate(180deg);
}

.content-container {
  padding-top: 121px;
  padding-bottom: 39px;
}

.promo .section-title {
  position: relative;
  margin-bottom: 29px;
  /* letter-spacing: -4px; */
}

.promo .section-desk {
  margin: 0;
  padding: 0;
  margin-bottom: 51px;
}

.slider-user-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
}

.more-button {
  padding: 4px 38px;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 20px;
}

.slider-pagination-button {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  border: 2px solid #000000;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-item.active .slider-pagination-button {
  background-color: #000000;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus:not(:active)::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  border: 2px solid #af4fff;
}

.product-features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-feature-value {
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 83%;
  color: #000000;
}

.product-feature {
  margin: 0;
  font-size: 16px;
  line-height: 187%;
  color: #000000;
}

.slideshow-item .product-features-item:not(:last-child) {
  margin-right: 20px;
}

.slideshow-item:nth-child(3) .product-features-item:not(:last-child) {
  margin-right: 40px;
}

/* Category */

.category {
  margin-bottom: 70px;
  padding: 0 140px;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-template-rows: repeat(auto-fill, minmax(253px, 1fr));
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.category-item-link {
  display: inline-block;
  padding-top: 194px;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.category-item-link::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  content: "";
  background-color: #ffe17f;
  background-position: top center;
}

.category-1::after {
  background-image: url("../images/icon/category-1.svg");
}

.category-2::after {
  background-image: url("../images/icon/category-2.svg");
}

.category-3::after {
  background-image: url("../images/icon/category-3.svg");
}

.category-4::after {
  background-image: url("../images/icon/category-4.svg");
}

.category-5::after {
  background-image: url("../images/icon/category-5.svg");
}

.category-6::after {
  background-image: url("../images/icon/category-6.svg");
}


.category-item-link:hover::after {
  background-color: #ffc700;
}

.category-item-link:active:not(:focus){
  opacity: 0.3;
}

.category-item-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.category-item .section-title {
  margin-bottom: 34px;
}

/* Service */

.service {
  margin-bottom: 70px;
  padding-bottom: 72px;
}

.service {
  position: relative;
  background: linear-gradient(transparent 13%, #f1f1f1 13%);
  overflow: hidden;
}

.tab-wrapper {
  width: 100%;
  display: grid;
  row-gap: 35px;
  top: 0;
  left: 0;
  padding: 65px 140px;
}

.tab-wrapper .tab-item,
.tab-wrapper input{display: none;}
.tab-wrapper .tab-item{
    order: 1;
}

.tab-item {
    position: absolute;
    top: 0;
    left: 420px;
    padding: 71px 422px 73px 115px;
    border-left: 7px solid #000000;
}

.tab-item-delivery {
  padding-right: 443px;
}

.tab-item .section-title {
  /* letter-spacing: -0.06em; */
  margin-bottom: 34px;
}

.tab-item .section-desk {
  text-align: left;
}

.tab-wrapper label{
  width: 280px;
  min-height: 40px;
  position: relative;
  text-align: center;
  z-index: 0;
  padding: 2px;
  padding-right: 120px;
  letter-spacing: 0.1em;
}

.tab-wrapper label::after {
  position: absolute;
  content: "";
  width: 160px;
  height: 8px;
  top: 14px;
  left: 0;
  background-color: #ffe17f;
  z-index: -1;
}

.tab-wrapper input:checked + label{
  background-color: #000000;
  color: #ffe17f;
  z-index: 1;
}

.tab-wrapper input:checked + label::after{
  background-color: transparent;
}

.tab-wrapper input:checked + label + .tab-item{
  display: block;
}

.tab-item::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tab-item-delivery::after {
  background-image: url("../images/icon/tab-image-1.svg");
  top: 78px;
  right: 203px;
  width: 136px;
  height: 164px;
}

.tab-item-warranty::after {
  background-image: url("../images/icon/tab-image-2.svg");
  top: 62px;
  right: 168px;
  width: 171px;
  height: 195px;
}

.tab-item-credit::after {
  background-image: url("../images/icon/tab-image-3.svg");
  top: 66px;
  right: 168px;
  width: 156px;
  height: 188px;
}

.delivery {
  padding: 0 140px;
  margin-bottom: 70px;
}

.delivery-link {
  position: relative;
  padding: 35px 160px;
  width: 100%;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.delivery-link::before {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-image: url("../images/icon/delivery-icon.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
}

.delivery-link::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 30px;
  right: 43px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(220, 220, 220, 0.5);
}

.i-icon {
  position: absolute;
  top: 44px;
  right: 62px;
  opacity: 0.3;
}

.delivery-link:hover::before {
  background-color: #ffc700;
}

.delivery-link:hover .i-icon {
  opacity: 1;
}

.delivery-link:active {
  opacity: 0.3;
}

.delivery-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.delivery-link:focus:not(:active)::after {
  background-color: #f0f0f0;
}

.delivery-link:focus:not(:active) .i-icon {
  opacity: 0.3;
}

/* Info */

.info {
  padding: 0 140px;
  margin-bottom: 70px;
}

.info .section-title {
  /* letter-spacing: -0.05em; */
}

.info-list {
  display: grid;
  grid-template-columns: 520px 532px;
  gap: 108px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.info-list-item {
  position: relative;
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.info-list-item::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.info-list-item .section-title {
  margin-bottom: 18px;
}

.info-list-item .section-desk {
  margin: 0;
}

.delivery-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 4px;
  list-style-type: none;
}

.delivery-item {
  position: relative;
  padding-left: 34px;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
  color:  #000000;
}

.delivery-item:not(:last-child){
  margin-bottom: 19px;
}

.delivery-item::before {
  position: absolute;
  top: 6px;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
}

.button.more-info-link {
  padding: 4px 21px;
  text-align: center;
}

.info-address {
  font-style: normal;
}

.address-list {
  margin: 0;
}

.address-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
}

.address-title:not(:first-child) {
  margin-top: 30px;
}

.address-desk {
  margin: 0;
}

.address-desk .address-link,
.address-desk .telephone {
  color: #444444;
}

.address-link {
  text-decoration: none;
}

.feedback-link-btn {
  padding: 4px 32px;
  text-align: center;
}

/* Subscribe */

.subscribe {
  padding: 60px 140px 56px 140px;
  background-color: #f0f0f0;
}

.subscribe-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 144px;
}

.subscribe-wrapper .section-title {
  max-width: 450px;
  /* letter-spacing: -0.06em; */
  margin-left: 7px;
}

.subscribe-wrapper .section-desk {
  max-width: 553px;
  margin-top: 12px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 1px;
  padding-right: 1px;
}

.subscribe .field-group {
  grid-template-columns: 557px 253px;
}

.subscribe .field-input {
  padding: 12px 17px;
}

.field-group .subscribe-submit-button {
  border-color: #cecece;
  padding: 12px 39px;
}

.subscribe-form-info {
  position: relative;
  padding-left: 32px;
  display: inline-block;
}

.subscribe-form-info::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 7px;
  left: 0;
  background-image: url("../images/icon/tick-big.svg");
}

/* Footer */

.page-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 62px 140px;
  padding-bottom: 52px;
  background-color: #444444;
}

.page-footer .logo-link {
  margin-bottom: 35px;
}

.footer-column-group {
  display: flex;
  flex-direction: column;
}

.footer-column-group.device {
  max-width: 238px;
  position: relative;
  padding-bottom: 71px;
}

.footer-column-group.device::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.footer-address {
  line-height: 0;
  font-style: normal;
}

.footer-address-link {
  font-size: 16px;
  line-height: 125%;
  color: #ffffff;
  text-decoration: none;
}


.footer-column-group.menu {
  margin: 0;
  margin-left: 116px;
  padding-top: 71px;
  align-items: center;
}

.footer-menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 55px;
}

.footer-menu-item:not(:last-child) {
  margin-right: 35px;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer-menu-link:hover {
  color: #ffc700;
  -webkit-text-decoration: underline solid 2px;
          text-decoration: underline solid 2px;
  text-underline-offset: 4px;
}

.footer-menu-link:active {
  color: #ffc700;
  -webkit-text-decoration: underline solid 2px;
          text-decoration: underline solid 2px;
  text-underline-offset: 4px;
  opacity: 0.3;
}

.footer-menu-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.social {
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-left: 15px;
  list-style-type: none;
}

.social-item:not(:last-child) {
  margin-right: 15px;
}

.social-item:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 3px;
}

.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.social-icon {
  fill: #444444;
  margin: auto;
}

.social-link:hover {
  background-color: #ffc700;
}

.social-link:active {
  background-color: #ffc700;
}

.social-link:active .social-icon{
  opacity: 0.3;
}

.footer-column-group.copyright{
  margin-left: auto;
  margin-top: 78px;
  margin-bottom: 3px;
  align-items: flex-end;
}

.footer-address-telephone {
  display: block;
  font-size: 16px;
  line-height: 125%;
  color: #ffffff;
  margin-bottom: 63px;
  letter-spacing: 0.01em;
}

.footer-address-telephone:hover {
  color: #ffc700;
}

.footer-address-telephone:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-address-telephone:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.copyright-link {
  display: inline-block;
}

.copyright-icon {
  fill: #ffc700;
}

.copyright-link:hover .copyright-icon {
  fill: #ffffff;
}

.copyright-link:active .copyright-icon {
  fill: #ffffff;
  opacity: 0.3;
}

.copyright-link:focus:not(:active) .copyright-icon {
  outline: 1px solid #af4fff;
  outline-offset: 1px;
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

.modal-container-close {
  display: none;
}

.modal-feedback {
  display: grid;
  gap: 42px;
  width: 920px;
  height: 568px;
}

.modal .section-title {
  /* letter-spacing: -0.07em; */
}

.modal-close-button {
  position: absolute;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  background-image: url("../images/icon/modal-close-btn-icon.svg");
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active:not(:focus) {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-close-button:disabled {
  opacity: 0.1;
}

.modal-delivery-form {
  display: grid;
  gap: 42px;
}

.modal .field-group {
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 40px;
  margin: 0;
  padding: 0;
}

.modal .order-field-group {
  grid-template-columns: 540px 180px;
}

.field-title {
  display: flex;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 14px;
}


.name-field .field-input,
.email-field .field-input {
  background-position: top 23px right 19px;
  background-repeat: no-repeat;
}

.name-field .field-input {
  background-image: url("../images/icon/name-input-icon.svg");
}

.email-field .field-input {
  background-image: url("../images/icon/email-input-icon.svg");
}

.field-message {
  font-size: 14px;
  line-height: 143%;
  color: #000000;
}

.field-message-error {
  color: #ff3d3d;
}

.quantity-inner-product .field-title {
  position: relative;
}

.field-info {
  position: absolute;
  top: -4px;
  right: 34px;
  width: 26px;
  height: 26px;
  background-color: #ffe17f;
  background-image: url("../images/icon/i-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.field-info-text {
  position: absolute;
  display: none;
  top: 37px;
  left: -141px;
  z-index: 1;
  width: 200px;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color:  #ffffff;
  letter-spacing: 0.01em;
  background-color: #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

.field-info-text::before {
  position: absolute;
  content: "";
  top: -6px;
  right: 38px;
  width: 14px;
  height: 6px;
  background-image: url("../images/icon/triangle.svg");
}

.field-info:hover,
.field-info:focus {
  background-color: #ffc700;
}

.field-info:hover .field-info-text,
.field-info:focus .field-info-text {
  display: block;
}

.quantity {
  position: relative;
  z-index: 0;

  display: grid;
  grid-template-columns: repeat(3, 60px);
}

.quantity-field.error {
  outline: 2px solid #ff3d3d;
}

.quantity-input {
  text-align: center;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-btn {
  display: flex;
  border: 2px solid transparent;
  background-color: #f0f0f0;
}

.quantity-btn-icon {
  margin: auto;
}

.quantity-btn:hover {
  background-color: #ebebeb;
}

.quantity-btn:hover .quantity-btn-icon{
  opacity: 0.6;
}

.quantity-btn:active:not(:focus) .quantity-btn-icon{
  opacity: 0.3;
}

.quantity-btn:focus {
  border-color: #af4fff;
}

.quantity-btn:disabled {
  opacity: 0.3;
}


.modal-form-submit {
  z-index: 1;
  padding: 6px 27px;
  min-width: 200px;
}

/* Catalog */
/* Main */

.main-inner {
  background-color: #f0f0f0;
}

.inner-header {
  background-color: #ffffff;
  padding: 33px 200px 37px 200px;
}

.inner-header .section-title {
  margin-bottom: 16px;
  /* letter-spacing: -0.09em; */
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 19px;
}

.breadcrubs-item:not(:last-child) {
  margin-right: 36px;
  position: relative;
}

.breadcrubs-item:not(:last-child)::after {
  position: absolute;
  top: 6px;
  right: -16px;
  content: "";
  width: 4px;
  height: 7px;
  background-image: url("../images/icon/breadcrumbs-arrow-icon.svg");
}

.breadcrumbs-link {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active:not(:focus) {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-products {
  display: grid;
  grid-template-columns: 320px 840px;
  padding: 0 140px;
}

.catalog-filter-form {
  padding: 19px 60px 25px 60px;
}

.catalog-form-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-form .catalog-form-title {
  margin-bottom: 53px;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin: 0;
  display: block;
  margin-bottom: 15px;
  padding: 0;
  padding-top: 6px;
  width: 100%;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
  border-top: 2px solid #000000;
}

.cost-filter-group .catalog-filter-title {
  margin-bottom: 11px;
}

.range {
  margin-left: -9px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 12px;
  overflow: auto;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
}

  .range-toggle:focus:not(:active)::before {
    outline: 2px solid #af4fff;
    outline-offset: 4px;
}

.range-toggle:hover {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: #f5f5f5;
}

.range-toggle:active {
  background-color: #000000;
}


.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -18px;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  display: flex;
  margin-right: 67px;
  font-size: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}

.range-fields {
  margin-left: -15px;
  display: flex;
}

.range-field {
  position: relative;
  line-height: 18px;
}

.range-field-min {
  margin-right: 31px;
}

.range-field-max {
  margin-top: -4px;
}

.range-field-title {
  position: absolute;
  left: 0;
  color: rgba(0, 0, 0, 0.3);
}

.range-input {
  min-width: 71px;
  padding: 0;
  padding-left: 20px;
  padding-left: 20px;
  font: inherit;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
          appearance: textfield;
  font-size: 15px;
  line-height: 18px;
}

.range-field-max .range-input {
  padding-left: 22px;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range-input:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkbox .catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.radio .catalog-filter-item:not(:last-child) {
  margin-bottom: 20px;
}

/* Control */

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 16px;
  color: #000000;
  line-height: 20px;
}


.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}


.control:hover .control-mark {
  opacity: 0.6;
}

.control-input:active:not(:focus) ~ .control-mark {
  opacity: 0.3;
}

.control-input:focus ~ .control-mark::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  width: 26px;
  height: 26px;
  border: 2px solid #af4fff;
}

.control-input:disabled + .control-mark,
.control-input:disabled + .control-mark + .control-label {
  opacity: 0.1;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-image: url("../images/icon/checkbox-tick-icon.svg");
  content: "";
}


.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.catalog-filter-button {
  padding: 6px 29px;
  z-index: 0;
  min-width: 220px;
}

.sorting-catalog-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  line-height: 0;
}

.sorting-card-select {
  font: inherit;
  font-size: 18px;
  line-height: 167%;
  color: #000000;
  background-color: transparent;
  border: none;
  padding-right: 50px;
  background-image: url(../images/icon/sorting-card-select-icon.svg);
  background-repeat: no-repeat;
  background-position: top 12px right 12px;
  -webkit-appearance: none;
          appearance: none;
}

.sort-button-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sort-button {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.sort-button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  content: "";
  background-image: url(../images/icon/sort-button-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.2;
}

.ascending-order {
  transform: rotate(180deg);
}

.sort-button:hover::before {
  opacity: 0.5;
}

.sort-button:active:not(:focus)::before {
  opacity: 1;
}

.sort-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  z-index: 1;
}

.sort-button:focus::before {
  opacity: 0.2;
}

.sort-button:disabled {
  opacity: 0.1;
}

.sorted-card-wrapper {
  display: grid;
  padding: 70px 40px 78px 40px;
  row-gap: 44px;
  background-color: #ffffff;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 44px 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-item {
  position: relative;
}

.card-item-link {
  display: grid;
  row-gap: 32px;
  text-decoration: none;
}

.card-image {
  display: block;
  border: 1px solid #444444;
}


.card-item .card-more {
  position: absolute;
  display: none;
  top: 170px;
  left: 70px;
  padding: 4px 29px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.2em;
  z-index: 0;
}

.card-more::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  top: 16px;
  left: 0;
  background-color: #ffe17f;
  z-index: -1;
}

.card-item .new-card {
  position: absolute;
  top: 27px;
  right: 27px;
  display: block;
  width: 60px;
  height: 60px;
  padding: 14px 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.card-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #000000;
}

.card-cost {
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  color: #444444;
  line-height: 18px;

}

.card-item-link:hover .card-image,
.card-item-link:hover .card-info {
  opacity: 0.6;
}

.card-item-link:hover .card-more {
  display: block;
}

.card-item-link:active .card-image,
.card-item-link:active .card-info {
  opacity: 0.3;
}

.card-item-link:active .card-more {
  display: block;
}

.card-item-link:active .card-more::after {
  background-color: #ffc700;
}

.card-item-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Pagination */

.pagination {
  display: grid;
  row-gap: 44px;
}

.pagination-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}

.pagination-button-more {
  padding: 16px 39px;
  border: 3px solid #e5e5e5;
  line-height: 16px;
  letter-spacing: 0.15em;
  min-height: 55px;
}

.pagination-button {
  padding: 26px 25px;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.2em;
  border: transparent;
  min-height: 71px;
}

.pagination-button:hover {
  background-color: #dcdcdc;
}

.pagination-button:active {
  background-color: #dcdcdc;
  opacity: 0.3;
}

.pagination-button:focus:not(:active) {
  background-color: #f0f0f0;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-button:disabled {
  opacity: 0.1;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  padding: 10px;
  font: inherit;
  font-size: 16px;
  line-height: 125%;
  color: rgba(68, 68, 68, 0.3);
}

.pagination-link:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-link:focus:not(:active) {
  color: rgba(68, 68, 68, 0.3);
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-link.current {
  color: rgba(68, 68, 68, 0.6);
}
